 <!--
Filename: bottom_nav.ejs
Group name: Xtreme Dynamos
Date: November 11, 2021
-->
 
 <!--Bottom Nav-->
  <footer>
    <nav class="navbar fixed-bottom navbar-white bg-dark">
      <div class="container-fluid">
        <h6 class="navbar-text text-white mx-auto">&copy; 2021 Xtreme Dynamos</h6>
      </div>
    </nav>
  </footer>