 <!--
Filename: bottom_nav.ejs
Group name: Xtreme Dynamos
Date: November 11, 2021
-->
 
 <!--Bottom Nav-->
  <footer>
    <nav class="navbar fixed-bottom navbar-white bg-white">
      <div class="container-fluid">
        <h6 class="navbar-text mx-auto">&copy; Copyright 2021. All rights reserved.</h6>
      </div>
    </nav>
  </footer>