<!--
Filename: main_nav.ejs
Group name: Xtreme Dynamos
Date: November 11, 2021
-->
 
 <!--Main Nav From Bootstrap 5.1-->
  <nav class="navbar navbar-expand-lg navbar-white bg-dark fixed-top">
    <div class="container">

      <!--Collapse button-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i><span class="navbar-toggler-icon"></span>
      </button>

      <!--Logo Brand Button-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <a class="navbar-brand" href="/"><img src="/Assets/images/XtremeLogo2.png" width="45px" alt="Logo"></a>
         
          <!--List of nav items linked to pages-->
          <!--Home-->
          <li class="nav-item">
            <% if (title == "Home") { %>
              <a class="nav-link active text-success" aria-content="page" href="/home"><i class="fas fa-home"></i> Home </a>
            <% } else { %>
              <a class="nav-link text-white" href="/home"><i class="fas fa-home"></i> Home </a>
            <% } %>
          
          <!--About-->
          <li class="nav-item">
          <% if (title == "About Me") { %>
            <a class="nav-link active text-success" aria-content="page" href="/about"><i class="fas fa-info-circle"></i> About Us </a>
          <% } else { %>
            <a class="nav-link text-white" href="/about"><i class="fas fa-info-circle"></i> About Us </a>
          <% } %> 
            
          <!--Projects-->
          <!--
          <li class="nav-item">
          <% if (title == "Projects") { %>
            <a class="nav-link active text-success" aria-content="page" href="/projects"><i class="fas fa-project-diagram"></i> Projects </a>
          <% } else { %>
            <a class="nav-link text-white" href="/projects"><i class="fas fa-project-diagram"></i> Projects </a>
          <% } %> -->

          <!--Services-->
          <!--
          <li class="nav-item">
          <% if (title == "Services") { %>
              <a class="nav-link active text-success" aria-content="page" href="/services"><i class="fas fa-cogs"></i> Services </a>
          <% } else { %>
              <a class="nav-link text-white" href="/services"><i class="fas fa-cogs"></i> Services </a>
          <% } %> -->

          <!--Business Contact List-->
          <li class="nav-item">
          <% if (title == "Surveys") { %>
              <a class="nav-link active text-success" aria-content="page" href="/survey-listSurvey"><i class="fas fa-id-card"></i> Surveys </a>
          <% } else { %>
              <a class="nav-link text-white" href="/survey-listSurvey"><i class="fas fa-id-card"></i> Surveys </a>
          <% } %>

          <!--Contact Me-->
          <!--
          <li class="nav-item">
          <% if (title == "Contact Me") { %>
            <a class="nav-link active text-success" aria-content="page" href="/contact"><i class="fas fa-mobile-alt"></i> Contact Me </a>
          <% } else { %>
            <a class="nav-link text-white" href="/contact"><i class="fas fa-mobile-alt"></i> Contact Me </a>
          <% } %> -->

          <!--Conditionary Login/Logout Navbar-->
          <% if(typeof displayName == 'string' && displayName) { %>
            <li class="navbar-text text-white"><i class="fas fa-lg fa-user"></i> Welcome, <%= displayName %></li>
            <li class="nav-item"><a href="/logout" class="nav-link " >
              <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
          <% } else { %>
            <li class="nav-item"><a href="/login" class="nav-link">
              <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
          <% } %>

      </div>
    </div>
  </nav>