<!--
Filename: about.ejs
Group name: Xtreme Dynamos
Date: November 11, 2021
-->

<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>

<!-- Main body of Aboout US -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-2"></h1>
      <div class="container">
      <br>
        <div class="text-center">
          <h1>Xtreme Dynamos</h1>  
        </div>
      <hr/>
      <div class="row">
        <div class="col">
          <div class="text-center">
            <img src="/Assets/images/XtremeLogo2.png" alt="Portrait" class="img-thumbnail" >
          </div>
        </div>
      
      <!-- About Us Content -->
      <div class="col">
        <p>Hello! We are an company called "Xtreme Dynamos!" This website that you are currently on is a survey-based website where you can create, view, share your own survey!</p>
      </div>
    </div>
</main>

<%- include('partials/bottom_nav.ejs') %>
<%- include('partials/footer.ejs') %>