<main class="container">
  <div class="jumbotron">
    <h1 class="display-2"></h1>
    <div class="container">
    <br>
      <h1>Xtreme Dyanos</h1>    
      <br>
      <div>

    <div style = "padding-left:50px">
      <img  src="/Assets/images/Headshot1.jpg" ALIGN="right" width="500" height="500"/>
    </div>

        <p style="font-size:30px;">Hello! We are an company called "Xtreme Dyanos!" This website that you are currently on is a survey-based website where you can create, view, share your own survey! 
     
          </p>
        
      </div>  
      
    </div>
  </div>
</main>