<main class="container">
  <div class="jumbotron">
    <h1 class="display-2"></h1>
    <div class="container">
    <br>
      <br>
      <div>
          <img src="Assets/images/XtremeLogo.png" width="100%"></img>
          <div class="center">
            <a class="btn btn-dark btn-sm" href="/contact-list">Click here to fill out a survey</a>
          </div>
            <br><br>
        </p>
      </div>  
      <br>
      <p style="font-size:30px">Our mission is to deliver exceptional service and support for all your computer related needs!</p>
    </div>
  </div>
</main>