<!--
Filename: index.ejs
Group name: Xtreme Dynamos
Date: November 11, 2021
-->

<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>

  <!--Main Content-->
  <!--Header of the main-->
  <main class="container">
    <div class="button-container">
      <img src="/Assets/images/HomeBanner.png" style="width: 100%; margin-top: 10px; border-style: solid; border-color: black; border-width: 2px;" alt="Banner">
        <a href="/survey-listSurvey">
            <input type="button" class="btn btn-success" value="Select a Survey"/>
        </a>
    </div>
  
  <!--Body of the main-->
      <div>
        <table style="margin-top: 40px;">
          <tr>
            <td>
            <!-- Survey Template 1 -->
              <div class="card" style="width: 18rem;">
                <img src="/Assets/images/gameDesign.png" class="card-img-top" alt="Survey Template 1">
                  <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">Template 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/survey-listSurvey/addSurvey" class="btn btn-success">Create</a>
                  </div>
              </div>
            </td>
            <td>
            <!-- Survey Template 2 -->
              <div class="card" style="width: 18rem;">
                <img src="/Assets/images/gameDesign.png" class="card-img-top" alt="Survey Template 2">
                  <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">Template 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/survey-listSurvey/addSurvey" class="btn btn-success">Create</a>
                  </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
  </main>

<%- include('partials/bottom_nav.ejs') %>
<%- include('partials/footer.ejs') %>



    
    
